spring:
  application:
    name: hystrix

server:
  port: 3005

eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka

ribbon:
  #更換實例的次數
  MaxAutoRetriesNextServer: 2
  #當前實例重度次數，嘗試失敗會更換下一個實例
  MaxAutoRetries: 1
  #對連接超時、讀取超時都進行重試
  OkToRetryOnAllOperations: true

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000

management:
  endpoints:
    web:
      exposure:
        #可以用*來暴露所有監控端點
        include: hystrix.stream
#        include: "*"
