spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
#          uri: https://github.com/ls175sc/sp-repo/sp-config
          uri: https://github.com/ls175sc/sp-repo/sp-config.git
          search-paths: sp-repo/config
          username: ls175sc
          password: 175751Ac

server:
  port: 6001

eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka

